# Combining Data from Database Into CSV

In [5]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from config import login

In [6]:
# Establishing connection

db_url = 'postgresql://' + login + '@localhost:5432/movie_db'
engine = create_engine(db_url)
connection = engine.connect()

In [7]:
tag_query = f"select movie_id, tag from tags;"

tags = pd.read_sql(tag_query, connection)

len(tags)

1093360

In [10]:
movies_bag = pd.read_csv("big_movies_csv/movies_bag.csv")

In [11]:
movies_bag.head()

,movie_id,title,bag_of_words
0,1,Toy Story (1995),adventure animation children comedy fantasy ca...
1,2,Jumanji (1995),adventure children fantasy robinwilliams anima...
2,3,Grumpier Old Men (1995),comedy romance
3,4,Waiting to Exhale (1995),comedy drama romance
4,5,Father of the Bride Part II (1995),comedy

In [14]:
titanic = movies_bag["bag_of_words"].where(movies_bag['movie_id'] == 1721)

In [19]:
print(movies_bag['bag_of_words'][1655])

drama romance jamescameron katewinslet leonardodicaprio nudity(topless-notable) nudity(topless) oscar(bestcinematography) oscar(bestdirecting) oscar(bestpicture) atmospheric basedonatruestory bittersweet catastrophe chickflick disaster drama epic historical love lovestory music overrated periodpiece realistic romance romantic sadending sentimental shipwreck survival timetravel truestory

In [8]:
# Iterrows to convert each tag to lowercase without spaces
for index, row in tags.iterrows():
    tag_converted = row['tag'].lower().replace(" ", "")
    tags.iloc[index, 1] = tag_converted

tags.head()

KeyboardInterrupt:

In [ ]:
# Now we need to combine the tags into one column based on movie_id

# First create a new dataframe to store the tags and movie_ids
tags_combined = pd.DataFrame(columns=["movie_id", "tags"])
tags_combined.head()

In [ ]:
# Iterrows for tags df
for index, row in tags.iterrows():
    # Check if movie_id already exists in tags_combined
    movie_exist = tags_combined.loc[tags_combined['movie_id']==row['movie_id'], :]
    #movie_exist.head()
    if movie_exist.empty:
        # Add new movie row
        new_row = {'movie_id': row['movie_id'], 'tags': row['tag']}
        #print (new_row)
        tags_combined = tags_combined.append(new_row, ignore_index=True)
    else:
        #print("Movie ID exists! Add to row")
        
        # Combine tags
        new_tags = movie_exist['tags'] + " " + row['tag']
        # Update row
        tags_combined.loc[tags_combined['movie_id']==row['movie_id'], 'tags'] = new_tags
        
tags_combined.head()

In [158]:
# Finding movie_id that have distinct count of tags >= 4 (Jeremy)

movie_sql_df = []

for x in range(len(tags_combined)):
    r = tags_combined['tags'][x].split(" ")
    if len(r) >= 2:
       movie_sql_df.append(tags_combined['movie_id'][x])
    else:
        pass

move_df = pd.DataFrame({"movie_id": movie_sql_df})

In [21]:
# Save combined_tags to CSV
tags_combined.to_csv("big_movies_csv/tags_combined.csv", index=False)

In [24]:
# Read genres from DB so we can merge genres with the tags

genre_query = f"select movie_id, genre from movies;"

genre = pd.read_sql(genre_query, connection)

genre.head()

   movie_id                                        genre
0         1  Adventure|Animation|Children|Comedy|Fantasy
1         2                   Adventure|Children|Fantasy
2         3                               Comedy|Romance
3         4                         Comedy|Drama|Romance
4         5                                       Comedy

In [25]:
# Iterrows to convert each genre to lowercase, swap | with a space
for index, row in genre.iterrows():
    genre_converted = row['genre'].lower().replace("|", " ")
    genre.iloc[index, 1] = genre_converted
    #print (index, row['genre'], genre_converted)
    
genre.head()

   movie_id                                        genre
0         1  adventure animation children comedy fantasy
1         2                   adventure children fantasy
2         3                               comedy romance
3         4                         comedy drama romance
4         5                                       comedy

In [26]:
# Merge genre and tags_converted on movie_id

combined_df = genre.merge(tags_combined, on="movie_id", how="outer").fillna("")
combined_df.head()

,movie_id,genre,tags
0,1,adventure animation children comedy fantasy,cartoon disney pixar timallen tomhanks adventu...
1,2,adventure children fantasy,robinwilliams animals badcgi boardgame family ...
2,3,comedy romance,
3,4,comedy drama romance,
4,5,comedy,

In [27]:
# Create new bag_of_words df that combines genre and tags

bag_of_words = pd.DataFrame(columns=["movie_id", "bag_of_words"])
bag_of_words.head()

Empty DataFrame
Columns: [movie_id, bag_of_words]
Index: []

In [28]:
# Iterrows for combined_df
for index, row in combined_df.iterrows():
    # Combine genre and tags
    bag = row['genre'] + " " + row['tags']
    
    new_row = {'movie_id': row['movie_id'], 'bag_of_words': bag}
    
    # Append row
    bag_of_words = bag_of_words.append(new_row, ignore_index=True)
        
bag_of_words.head()

  movie_id                                       bag_of_words
0        1  adventure animation children comedy fantasy ca...
1        2  adventure children fantasy robinwilliams anima...
2        3                                    comedy romance
3        4                              comedy drama romance
4        5                                            comedy

In [29]:
# Save bag_of_words to CSV
bag_of_words.to_csv("big_movies_csv/bag_of_words.csv", index=False)

In [30]:
# Read movie title from DB so we can separate title from year, then merge with bag_of_words

movie_query = f"select movie_id, title from movies;"

movies = pd.read_sql(movie_query, connection)

movies.head()

   movie_id                               title
0         1                    Toy Story (1995)
1         2                      Jumanji (1995)
2         3             Grumpier Old Men (1995)
3         4            Waiting to Exhale (1995)
4         5  Father of the Bride Part II (1995)

In [31]:
# Merge movies and bag_of_words on movie_id

movies_bag = movies.merge(bag_of_words, on="movie_id", how="outer").fillna("")
movies_bag.head()

,movie_id,title,bag_of_words
0,1,Toy Story (1995),adventure animation children comedy fantasy ca...
1,2,Jumanji (1995),adventure children fantasy robinwilliams anima...
2,3,Grumpier Old Men (1995),comedy romance
3,4,Waiting to Exhale (1995),comedy drama romance
4,5,Father of the Bride Part II (1995),comedy

In [32]:
# Save movies_bag to CSV
movies_bag.to_csv("big_movies_csv/movies_bag.csv", index=False)

## Split the title and year

In [33]:
# Create new movie_year df so we can split title and year

movie_year = pd.DataFrame(columns=["movie_id", "title", "year"])
movie_year.head()

Empty DataFrame
Columns: [movie_id, title, year]
Index: []

In [34]:
# Import regular expression because there are titles with (words) in the name and we need to make sure 
# we split it at (year)
import re

In [35]:
# Iterrows for movies
for index, row in movies.iterrows():
    # Combine genre and tags
    to_split = row['title']
    title_split = re.split(r'[ ](?=\([1-2][0-9][0-9][0-9])', to_split)
    title = title_split[0]
    if len(title_split)>1:
        year = title_split[1].replace("(", "").replace(")", "") # Then strip () from string
    else:
        print (f"No year for {row['title']}")
        year = ""
    
    new_row = {'movie_id': row['movie_id'], 'title': title, 'year': year}
    #print(new_row)
    
    # Append row
    movie_year = movie_year.append(new_row, ignore_index=True)
    
    #if index == 3:
    #    break
        
movie_year.head()

No year for Skokie (1981)
No year for Deadly Advice(1994)
No year for Millions Game, The (Das Millionenspiel)
No year for Me and the Colonel (1958)
No year for On the Double (1961)
No year for Here Comes Peter Cottontail (1971)
No year for Enchanted World of Danny Kaye: The Emperor's New Clothes, The (1972)
No year for Terrible Joe Moran
No year for The Court-Martial of Jackie Robinson
No year for In Our Garden
No year for Stephen Fry In America - New World
No year for Two: The Story of Roman & Nyro
No year for A Year Along the Abandoned Road
No year for Body/Cialo
No year for Polskie gówno
No year for The Third Reich: The Rise & Fall
No year for La vendetta dei barbari
No year for My Own Man
No year for Moving Alan
No year for Zone 261
No year for Michael Laudrup - en Fodboldspiller
No year for Honky
No year for Blueberry Hill
No year for Pleasure Palace
No year for Terror on the 40th Floor
No year for My Boyfriend's Back
No year for One Night Only
No year for Doli Saja Ke Rakhna
No year for The Dead Lands
No year for C'mon, Let's Live a Little
No year for For a Book of Dollars
No year for Twins from Texas
No year for Señorita Justice
No year for Flash and Firecat
No year for Red Victoria
No year for Vaastupurush
No year for Sierra Leone's Refugee All Stars
No year for L'uomo della carità
No year for The Big Fall
No year for Wolves In The Snow
No year for Amazon Falls
No year for Dark Tides
No year for The Ritual
No year for The Expedition
No year for Chinese Boxes
No year for Danielův svět
No year for The Near Room
No year for Filmage: The Story of Descendents/All
No year for About Sarah
No year for La steppa
No year for Swallows and Amazons
No year for Ready Player One
No year for Los tontos y los estúpidos
No year for Ride in a Pink Car
No year for Disaster Playground
No year for Nice Guy
No year for OMG, I'm a Robot!
No year for KillerSaurus
No year for Viva
No year for Ollaan vapaita
No year for Hyena Road
No year for Asphalt Angels
No year for Fakta Ladh Mhana
No year for Man Crazy
No year for Roger la Honte
No year for Sentimentalnyy roman
No year for Yedyanchi Jatra
No year for Dhadakebaaz
No year for Ittefaq
No year for Elämältä kaiken sain
No year for Dil Kya Kare
No year for Hogi Pyar Ki Jeet
No year for Monk by Blood
No year for I Am Syd Stone
No year for Alone With People
No year for Proibito Rubare - Luigi Comencini
No year for Le strelle nel fosso
No year for 38 Parrots
No year for The Adventures of Sherlock Holmes and Doctor Watson
No year for Amigo Undead
No year for The Republic
No year for A Dark Place Inside
No year for Ουζερί Τσιτσάνης
No year for She Who Must Burn
No year for A Fare to Remember
No year for The Code
No year for Unlocking the Cage
No year for Nocturnal Animals
No year for Trophy Kids
No year for 101次求婚
No year for S: Saigo no Keikan - Dakkan: Recovery of Our Future
No year for The Frog Prince
No year for Vrijdag
No year for Aimy in a Cage
No year for Jasne Błękitne Okna
No year for Mr. Kuka's Advice
No year for The Lovers and the Despot
No year for Beauty and the Breast
No year for Hundra
No year for Holy Hell
No year for Veljet
No year for Pyaar Tune Kya Kiya
No year for Vous êtes très jolie, mademoiselle
No year for Main Madhuri Dixit Banna Chahti Hoon!
No year for Dhund: The Fog
No year for The Grave Digger
No year for Vaastu Shastra
No year for Vergeef me
No year for Vogelfrei
No year for Jew Like Me
No year for Langer Licht
No year for Family Film
No year for Normaal: Ik Kom Altied Weer Terug
No year for Recto / verso
No year for Sins of the mind
No year for Kshanam
No year for Pawn's Move
No year for If These Knishes Could Talk: The Story of the NY Accent
No year for Mapplethorpe: Look at the Pictures
No year for The Twin Girls of Sunset Street
No year for Absent Minded
No year for Paterson
No year for The Kid from Broken Gun
No year for .hack Liminality: In the Case of Mai Minase
No year for .hack Liminality In the Case of Yuki Aihara
No year for .hack Liminality In the Case of Kyoko Tohno
No year for Citizen King
No year for The Monkey King the Legend Begins
No year for Anybody's Son Will Do
No year for The Identity Theft of Mitch Mustain
No year for 6A
No year for The Serious Game
No year for Fant
No year for It's Only Money
No year for Freedom
No year for Back Home
No year for After Eden
No year for DEAD RISING : ENDGAME
No year for Friends and Romans
No year for Poor Devil
No year for They Will Have To Kill Us First
No year for Eat That Question: Frank Zappa in His Own Words
No year for Presenting Princess Shaw
No year for The Miki Howard Story
No year for Digital Dharma
No year for Tibetana
No year for Gleason
No year for Bazodee
No year for El Bosco, el jardín de los sueños
No year for Moonlight
No year for California Winter
No year for The Houses Are Full of Smoke
No year for The Last Gold
No year for The Wounded Angel
No year for Scott Hall: Living on a Razor's Edge
No year for Bad Dad Rehab
No year for A Lovasíjász
No year for MamaBoy
No year for The Space Between
No year for El pejesapo
No year for Lo Sound Desert
No year for Set the Thames on Fire
No year for Dugma: The Button
No year for Amber Alert
No year for Pad Yatra: A Green Odyssey
No year for The Adventures of Cinderella's Daughter
No year for Always Faithful
No year for Angel Has Fallen
No year for Exchange
No year for Rodnye (Close Relations)
No year for Allende en su laberinto
No year for Dvadtsat shest dney iz zhizni Dostoevskogo
No year for Dönersen Islık Çal
No year for Uno: The Movie
No year for The Women's Balcony
No year for Ulvova Mylläri
No year for Dolpo Tulku - Heimkehr in den Himalaya
No year for The OA
No year for Freedom Road
No year for Hitler's Olympics
No year for Science Fiction Volume One: The Osiris Child
No year for Bienvenido a Veraz
No year for Invention of Trust
No year for Secret Places
No year for Abbey Grace
No year for Third Guest
No year for American Sharia
No year for Red Wine in the Dark Night
No year for Winning Favour
No year for Whn the day had no name
No year for The Glass Castle
No year for Blindpassasjer
No year for The Lost World of Communism
No year for Sequence Break
No year for 13 reasons why
No year for Jedi Junior High
No year for Cosmos
No year for Unspeakable Horrors: The Plan 9 Conspiracy
No year for Maria Bamford: Old Baby
No year for Wet and Reckless
No year for Generation Iron 2
No year for Irwin & Fran 2013
No year for Shivering Trunks
No year for Supermassive Black Holes
No year for Игра на выбывание
No year for Falling Skies
No year for Neither Wolf Nor Dog
No year for Philosophy: A Guide to Happiness
No year for Genesis
No year for I'm Not Here
No year for A Gray State
No year for Salad Fingers
No year for Le Ride
No year for Mundo Cão
No year for Selling God
No year for Elián
No year for The Garden of Afflictions 2017
No year for Abduction
No year for Engineering Red
No year for S.W.A.T.: Under Siege
No year for All Superheroes Must Die 2: The Last Superhero
No year for The Misadventures of Rick and Morty
No year for Lauri Mäntyvaaran tuuheet ripset
No year for Aprel
No year for Subdue
No year for Black Mirror
No year for What the Waters Left Behind
No year for Ascent to Hell
No year for Supercon
No year for In Search of Fellini
No year for Checkmate
No year for With love
No year for The Stone
No year for Bigfoot in Europe: Sasquatch Encounters Abroad
No year for The Wayward Sun
No year for Abd El-Kader
No year for BlueGreen
No year for El Superstar
No year for I Am The Queen
No year for Injecting Aluminum
No year for Palestine Blues
No year for Pururambo
No year for Sprawling from Grace
No year for Teen a Go Go: A Little Film About Rock and Roll History
No year for Vilaieha
No year for The Lost City of Cecil B. DeMille
No year for Slumber
No year for Koudelka Shooting Holy Land
No year for The Book of Birdie
No year for Clementina
No year for My Brother Khosrow
No year for Samadhi Part 1: Maya, the Illusion of the Self
No year for Doing time, Doing Vipassana
No year for Going for Broke
No year for Gutboy: A Badtime Story
No year for Kickoff
No year for S.M.A.R.T. Chase
No year for The End?
No year for 3rd Night
No year for Mountain Fever
No year for Trauma
No year for Rigoletto
No year for Nebraska Supersonic
No year for Prosta historia o miłości
No year for Felix, Net i Nika oraz teoretycznie możliwa katastrofa
No year for Inside John Lennon - Unauthorized
No year for Frangi
No year for Inoperable
No year for به نام پدر
No year for A Miracle on Christmas Lake
No year for No Ordinary Hero: The SuperDeafy Movie
No year for Cosmos: A Spacetime Odissey
No year for Rooster: Spurs of Death!
No year for Начальник
No year for The Moors Murders
No year for Harvest
No year for Basmati Blues
No year for The Favourite
No year for Terminal
No year for Functional Fitness
No year for Made in Italy
No year for NOFX Backstage Passport 2
No year for Heroine
No year for An Hour Behind
No year for A Grim Becoming
No year for The Body Tree
No year for Seat 25
No year for The Contender
No year for Zero
No year for MisLead: America's Secret Epidemic
No year for Sensitive: The Untold Story
No year for Scott and Sid
No year for Taco Shop
No year for Fort Maria
No year for Secrets in the Fall
No year for Anthony Joshua: The Road to Klitschko
No year for No. 1 Chung Ying Street
No year for Diamond Dogs
No year for The Death & Life of John F. Donovan
No year for Sanctuary
No year for The Factory
No year for Higher Power
No year for Always at The Carlyle
No year for When Bette Met Mae
No year for Witch-Hunt
No year for Bubblegum
No year for Class Reunion 2: A Wedding and a Funeral
No year for Derrick J's Victimless Crime Spree
No year for Veras Mantel
No year for The Doctor From India
No year for Tau
No year for The Greenhorns
No year for Inheritance
No year for The Death of Superman
No year for Formentera Lady
No year for The Midnighters
No year for Mara
No year for A Triumph of the Heart: The Ricky Bell Story
No year for Tell Me Your Name
No year for Poor Boy
No year for En Busca del Muñeco Perdido
No year for Rich Man, Poor Woman in New York
No year for New Neighbors, Old Fights
No year for Lottery
No year for Since
No year for His Last Vow
No year for Nakimushi Shottan no Kiseki
No year for Undercity
No year for Dansa först
No year for Ctrl+Alt+Dance
No year for The Sign of Three
No year for Doubtful
No year for Parwaaz Hai Junoon
No year for Papi Chulo
No year for ¿Qué te juegas?
No year for Wall
No year for A Kiss of Chaos
No year for Brian Banks
No year for Through Black Spruce
No year for The Body
No year for Honey Badgers: Masters of Mayhem
No year for Территория Джа
No year for Menneskesmuglerne
No year for Tafanos - Killer Mosquitos
No year for Star Wars: Dresca
No year for Baikonur, Earth
No year for Marvel Mon Amour
No year for Dunkles, rätselhaftes Österreich
No year for Les Flâneries du voyant
No year for Dalya's Other Country
No year for The Storyteller
No year for Grand Unified Theory
No year for The Indecent Family
No year for The Zen Diaries of Garry Shandling: Parts 1 & 2
No year for Девочки
No year for Peshavarskiy vals
No year for Przyjecie na 10 osob plus 3
No year for Cradle to Grave
No year for BÚÉK
No year for Old Man
No year for Scarred But Smarter: Life N Times of Drivin N Cryin
No year for Polina
No year for The King
No year for The Machine Stops
No year for Paradise Hills
No year for The Perfect Date
No year for Wicked
No year for Uncharted: Drake's Fortune
No year for The Wedding Year
No year for A Rainy Day in New York
No year for Pathey Holo Deri
No year for Underneath
No year for The Art of McCartney
No year for Romeo Akbar Walter
No year for The Man with Half a Body
No year for Anatolian Trip
No year for The Guy Who Didn't Like Musicals
No year for A Place of Truth
No year for Мiсто, в якому не ходять грошi
No year for D-Day: The Total Story
No year for Kid Brother
No year for The Saint Lies In Wait
No year for Kopy Kings
No year for RWBY: Volume 5
No year for Tenth of a Second
No year for Time of tears
No year for Man's First Friend
No year for Knox: The Life and Legacy of Scotland's Controversial Reformer
No year for Sherlock: The Blind Banker
No year for cursor
No year for Waiting for the Storm
No year for Eli
No year for In the Tall Grass
No year for 1013 Briar Lane
No year for Burdock
No year for Десять минут первого
No year for Falling Inn Love
No year for The Fellowship of the Farmers
No year for NOVA: Prediction by the Numbers
No year for The Night Bulletin
No year for Royal Shakespeare Company: The Tempest
No year for Egy másik életben
No year for Twice
No year for The Black Legend of Mexican Cinema
No year for Chef vs. Science: The Ultimate Kitchen Challenge
No year for Hotel Camarillo
No year for The Evil Inside
No year for Along Came the Devil 2
No year for Liberia: An Uncivil War
No year for Luz
No year for Tales of Found Footage
No year for Enduring Destiny
No year for Punk the Capital: Building a Sound Movement
No year for Yosemite: The Fate of Heaven
No year for The Falklands War: The Untold Story

  movie_id                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [36]:
movie_year.tail()

      movie_id                    title  year
62418   209157                       We  2018
62419   209159       Window of the Soul  2001
62420   209163                Bad Poems  2018
62421   209169             A Girl Thing  2001
62422   209171  Women of Devil's Island  1962

In [37]:
# Test
test_string = "Babylon 5"
title_split = re.split(r'[ ](?=\([1-2][0-9][0-9][0-9])', test_string)
title = title_split[0]
if len(title_split)>1:
    year = title_split[1]
else:
    year = 0
print(year)

0

In [38]:
# Merge movie_year with bag_of_words on movie_id

movies_bag = movie_year.merge(bag_of_words, on="movie_id", how="outer").fillna("")
movies_bag.head()

,movie_id,title,year,bag_of_words
0,1,Toy Story,1995,adventure animation children comedy fantasy ca...
1,2,Jumanji,1995,adventure children fantasy robinwilliams anima...
2,3,Grumpier Old Men,1995,comedy romance
3,4,Waiting to Exhale,1995,comedy drama romance
4,5,Father of the Bride Part II,1995,comedy

In [159]:
the_main_df = pd.merge(movies_bag, move_df, how="right", on=["movie_id", "movie_id"])
the_main_df.to_csv("big_movies_csv/the_main_df.csv", index=False)

In [57]:
# Make sure to close the connection

connection.close()