# Combining Data from Database Into CSV

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from config import login

In [2]:
# Establishing connection

db_url = 'postgresql://' + login + '@localhost:5432/movie_db'
engine = create_engine(db_url)
connection = engine.connect()

In [3]:
tag_query = f"select movie_id, tag from tags;"

tags = pd.read_sql(tag_query, connection)

tags.head()

   movie_id               tag
0       260           classic
1       260            sci-fi
2      1732       dark comedy
3      1732    great dialogue
4      7569  so bad it's good

In [4]:
# Iterrows to convert each tag to lowercase without spaces
for index, row in tags.iterrows():
    tag_converted = row['tag'].lower().replace(" ", "")
    tags.iloc[index, 1] = tag_converted

0 classic classic
1 sci-fi sci-fi
2 dark comedy darkcomedy
3 great dialogue greatdialogue
4 so bad it's good sobadit'sgood
5 unreliable narrators unreliablenarrators
6 tense tense
7 artificial intelligence artificialintelligence
8 philosophical philosophical
9 tense tense
10 so bad it's good sobadit'sgood
11 cliche cliche
12 musical musical
13 horror horror
14 unpredictable unpredictable
15 Oscar (Best Supporting Actress) oscar(bestsupportingactress)
16 adventure adventure
17 anime anime
18 ecology ecology
19 fantasy fantasy
20 Hayao Miyazaki hayaomiyazaki
21 Miyazaki miyazaki
22 post-apocalyptic post-apocalyptic
23 bah bah
24 Clint Eastwood clinteastwood
25 music music
26 art art
27 contemporary art contemporaryart
28 documentary documentary
29 aliens aliens
30 amazing photography amazingphotography
31 Director: James Cameron director:jamescameron
32 first contact firstcontact
33 James Cameron jamescameron
34 Michael Biehn michaelbiehn
35 sci-fi sci-fi
36 android(s)/cyborg(s) android(s)/cyborg(s)
37 apocalypse apocalypse
38 Arnold Schwarzenegger arnoldschwarzenegger
39 artificial intelligence artificialintelligence
40 franchise franchise
41 terminator terminator
42 time travel timetravel
43 James Cameron jamescameron
44 sci-fi sci-fi
45 science fiction sciencefiction
46 sci-fi sci-fi
47 inferior sequel inferiorsequel
48 setting:London (UK) (future) setting:london(uk)(future)
49 unoriginal unoriginal
50 bad science badscience
51 good science goodscience
52 Hans Zimmer hanszimmer
53 philosophical issues philosophicalissues
54 sci-fi sci-fi
55 science fiction sciencefiction
56 space space
57 space travel spacetravel
58 time-travel time-travel
59 visually appealing visuallyappealing
60 bittersweet bittersweet
61 boring boring
62 conversation conversation
63 dialogue driven dialoguedriven
64 loneliness loneliness
65 love story lovestory
66 philosophical philosophical
67 philosophy philosophy
68 quirky quirky
69 reflective reflective
70 romantic romantic
71 thought-provoking thought-provoking
72 Vienna vienna
73 wistful wistful
74 American Civil War americancivilwar
75 based on book basedonbook
76 bittersweet bittersweet
77 culture clash cultureclash
78 drama drama
79 indians indians
80 love story lovestory
81 war war
82 western western
83 Buddhism buddhism
84 China china
85 great cinematography greatcinematography
86 JOURNEY OF SELF-DISCOVERY journeyofself-discovery
87 mountains mountains
88 traveling traveling
89 atmospheric atmospheric
90 based on a book basedonabook
91 Canada canada
92 death death
93 Incest incest
94 meditative meditative
95 melancholic melancholic
96 Nudity (Full Frontal) nudity(fullfrontal)
97 small town smalltown
98 wintry wintry
99 aging aging
100 based on a play basedonaplay
101 boring boring
102 Drama drama
103 friendship friendship
104 Morgan Freeman morganfreeman
105 no action noaction
106 old age oldage
107 racism racism
108 Southern theme southerntheme
109 USA usa
110 bittersweet bittersweet
111 emotional emotional
112 heartwarming heartwarming
113 Holocaust holocaust
114 Italy italy
115 love love
116 Oscar (Best Foreign Language Film) oscar(bestforeignlanguagefilm)
117 Oscar Winner oscarwinner
118 sentimental sentimental
119 survival survival
120 adventure adventure
121 fantasy fantasy
122 music music
123 Natalie Portman natalieportman
124 robots robots
125 sci-fi sci-fi
126 space space
127 Star Wars starwars
128 abortion abortion
129 based on a book basedonabook
130 charlize theron charlizetheron
131 Drama drama
132 Incest incest
133 medicine medicine
134 orphans orphans
135 Tobey Maguire tobeymaguire
136 based on a book basedonabook
137 break-up break-up
138 Catherine Zeta-Jones catherinezeta-jones
139 funny funny
140 relationships relationships
141 island island
142 SURVIVAL survival
143 boring boring
144 dogs dogs
145 drama drama
146 multiple storylines multiplestorylines
147 action action
148 adventure adventure
149 aliens aliens
150 fantasy fantasy
151 George Lucas georgelucas
152 robots robots
153 romance romance
154 sci-fi sci-fi
155 space space
156 Star Wars starwars
157 based on a book basedonabook
158 Drama drama
159 family family
160 mystery mystery
161 powerful ending powerfulending
162 twist ending twistending
163 adapted from:book adaptedfrom:book
164 assassin assassin
165 assassination assassination
166 History history
167 interesting interesting
168 Southern Europe southerneurope
169 tense tense
170 thriller thriller
171 bittersweet bittersweet
172 boring boring
173 dialogue dialogue
174 emotional emotional
175 Paris paris
176 philosophical philosophical
177 quirky quirky
178 romance romance
179 romantic romantic
180 adultery adultery
181 biographical biographical
182 Biography biography
183 blindness blindness
184 disability disability
185 drug addiction drugaddiction
186 drugs drugs
187 genius genius
188 great acting greatacting
189 history history
190 music music
191 music business musicbusiness
192 musical musical
193 rhythm & blues rhythm&blues
194 boring boring
195 Catholicism catholicism
196 child abuse childabuse
197 drugs drugs
198 enigmatic enigmatic
199 Gay sex gaysex
200 mistaken identity mistakenidentity
201 queer queer
202 soccer soccer
203 spanish spanish
204 alcoholism alcoholism
205 complex characters complexcharacters
206 confusing confusing
207 Germany germany
208 loneliness loneliness
209 love story lovestory
210 Nudity (Full Frontal) nudity(fullfrontal)
211 biomedical ethics biomedicalethics
212 death death
213 disability disability
214 emotional emotional
215 euthanasia euthanasia
216 FIGHTING THE SYSTEM fightingthesystem
217 meditative meditative
218 Oscar (Best Foreign Language Film) oscar(bestforeignlanguagefilm)
219 SUICIDE suicide
220 suicide attempt suicideattempt
221 terminal illness terminalillness
222 touching touching
223 true story truestory
224 boring boring
225 deliberate deliberate
226 nonsense nonsense
227 philosophycal philosophycal
228 quiet quiet
229 quirky quirky
230 silent silent
231 very little dialogue verylittledialogue
232 biopic biopic
233 character study characterstudy
234 death penalty deathpenalty
235 gay gay
236 journalism journalism
237 prison prison
238 thought provoking thoughtprovoking
239 writers writers
240 based on a true story basedonatruestory
241 biography biography
242 bittersweet bittersweet
243 Joaquin Phoenix joaquinphoenix
244 love love
245 music music
246 music business musicbusiness
247 true story truestory
248 Disturbing disturbing
249 interesting interesting
250 murder mystery murdermystery
251 non-hollywood ending non-hollywoodending
252 twist twist
253 twist ending twistending
254 based on a true story basedonatruestory
255 simple simple
256 Straight forward straightforward
257 strong woman strongwoman
258 WOMEN DURING WARTIME womenduringwartime
259 World War II worldwarii
260 cynical cynical
261 disturbing disturbing
262 drama drama
263 family family
264 Nudity (Topless - Notable) nudity(topless-notable)
265 Nudity (Topless) nudity(topless)
266 psychology psychology
267 reflective reflective
268 small town smalltown
269 emotional emotional
270 epidemic epidemic
271 husband-wife relationship husband-wiferelationship
272 romance romance
273 science science
274 scientific research scientificresearch
275 George Clooney georgeclooney
276 lawyers lawyers
277 based on a true story basedonatruestory
278 depressing depressing
279 disability disability
280 hospital hospital
281 marriage marriage
282 thought-provoking thought-provoking
283 touching touching
284 true story truestory
285 bittersweet bittersweet
286 boring boring
287 Jude Law judelaw
288 Natalie Portman natalieportman
289 road movie roadmovie
290 soundtrack soundtrack
291 visually appealing visuallyappealing
292 alternate endings alternateendings
293 beautiful beautiful
294 humanity humanity
295 quirky quirky
296 quirky style quirkystyle
297 romance romance
298 solitude solitude
299 awkward awkward
300 Barcelona barcelona
301 love love
302 relationships relationships
303 romance romance
304 threesome threesome
305 visually appealing visuallyappealing
306 congressman congressman
307 corruption corruption
308 journalism journalism
309 mistress mistress
310 murder murder
311 newspaper newspaper
312 political corruption politicalcorruption
313 politics politics
314 secrets secrets
315 tense tense
316 bittersweet bittersweet
317 Funny funny
318 humorous humorous
319 love love
320 nonlinear nonlinear
321 relationships relationships
322 romance romance
323 drama drama
324 excellent script excellentscript
325 love love
326 mystery mystery
327 nostalgic nostalgic
328 revenge revenge
329 effects effects
330 environmental environmental
331 music music
332 sci-fi sci-fi
333 thought-provoking thought-provoking
334 action action
335 alternate reality alternatereality
336 drama drama
337 psychology psychology
338 thought-provoking thought-provoking
339 twist ending twistending
340 atmospheric atmospheric
341 based on a book basedonabook
342 cynical cynical
343 depressing depressing
344 disturbing disturbing
345 dystopia dystopia
346 emotional emotional
347 love story lovestory
348 thought-provoking thought-provoking
349 based on a true story basedonatruestory
350 complex characters complexcharacters
351 drama drama
352 Oscar (Best Picture) oscar(bestpicture)
353 mindfuck mindfuck
354 sci-fi sci-fi
355 action action
356 Alzheimer's disease alzheimer'sdisease
357 Animals animals
358 genetics genetics
359 sci-fi sci-fi
360 thought-provoking thought-provoking
361 touching touching
362 virus virus
363 adapted from:book adaptedfrom:book
364 bittersweet bittersweet
365 children children
366 cinematography cinematography
367 fantasy fantasy
368 nostalgic nostalgic
369 Paris paris
370 robots robots
371 visually appealing visuallyappealing
372 based on a true story basedonatruestory
373 campaign manager campaignmanager
374 politics politics
375 real life reallife
376 Fish fish
377 food food
378 Ginza ginza
379 Japan japan
380 Michelin michelin
381 sushi sushi
382 Tokyo tokyo
383 Tsukiji tsukiji
384 disability disability
385 drama drama
386 humor humor
387 nudity (full frontal) nudity(fullfrontal)
388 relationships relationships
389 sexuality sexuality
390 static static
391 strange strange
392 uncomfortable uncomfortable
393 biography biography
394 history history
395 oscar (best directing) oscar(bestdirecting)
396 US President uspresident
397 president; butler president;butler
398 Ferrari ferrari
399 Formula 1 formula1
400 great skill greatskill
401 interesting characters interestingcharacters
402 racing racing
403 sports sports
404 unpredictable unpredictable
405 depressing depressing
406 happy ending happyending
407 middle-aged protagonist middle-agedprotagonist
408 warm warm
409 captain captain
410 ocean ocean
411 suspense suspense
412 true story truestory
413 disease disease
414 Matthew McConaughey matthewmcconaughey
415 medical medical
416 based on a book basedonabook
417 based on a true story basedonatruestory
418 bittersweet bittersweet
419 dramatic comedy dramaticcomedy
420 sad sad
421 story story
422 true story truestory
423 adapted from:book adaptedfrom:book
424 narration narration
425 touching touching
426 World War II worldwarii
427 atmospheric atmospheric
428 boring boring
429 cats cats
430 depressing depressing
431 folk music folkmusic
432 New York City newyorkcity
433 Nudity (Full Frontal) nudity(fullfrontal)
434 Nudity (Topless) nudity(topless)
435 repetitive repetitive
436 Wall Street wallstreet
437 artificial intelligence artificialintelligence
438 bittersweet bittersweet
439 Human Computer Interaction humancomputerinteraction
440 Joaquin Phoenix joaquinphoenix
441 landscape landscape
442 letters letters
443 loneliness loneliness
444 meaning of life meaningoflife
445 original plot originalplot
446 philosophical philosophical
447 psychology psychology
448 sad sad
449 thought-provoking thought-provoking
450 Nudity (Topless) nudity(topless)
451 repeating repeating
452 simple simple
453 Afghanistan afghanistan
454 friendship friendship
455 seals seals
456 true story truestory
457 naration naration
458 Nudity (Full Frontal - Notable) nudity(fullfrontal-notable)
459 sexuality sexuality
460 story story
461 based on a true story basedonatruestory
462 George Clooney georgeclooney
463 german sync germansync
464 matt damon mattdamon
465 Lars von Trier larsvontrier
466 Nudity (Full Frontal - Notable) nudity(fullfrontal-notable)
467 pornography pornography
468 sexuality sexuality
469 Unexpected Ending unexpectedending
470 quirky quirky
471 visually appealing visuallyappealing
472 interesting ideea interestingideea
473 original original
474 philosophical issues philosophicalissues
475 sentimental sentimental
476 space space
477 spectacle spectacle
478 thought-provoking thought-provoking
479 time-travel time-travel
480 wormhole wormhole
481 espionage espionage
482 Jean Dujardin jeandujardin
483 love story lovestory
484 bitterswee bitterswee
485 music music
486 new york newyork
487 romance romance
488 soundtrack soundtrack
489 story story
490 action action
491 future future
492 original plot originalplot
493 sci-fi sci-fi
494 time loop timeloop
495 time travel timetravel
496 Tom Cruise tomcruise
497 war war
498 dialogue dialogue
499 plot holes plotholes
500 ridiculous dialogue ridiculousdialogue
501 robots robots
502 transformers transformers
503 weak story weakstory
504 drama drama
505 education education
506 good acting goodacting
507 jazz jazz
508 motivation motivation
509 perfectionism perfectionism
510 psychological psychological
511 adultery adultery
512 Ben Affleck benaffleck
513 false accusation falseaccusation
514 good adaptation goodadaptation
515 Infidelity infidelity
516 marriage marriage
517 meticulous meticulous
518 mindfuck mindfuck
519 murder murder
520 Psychopathy psychopathy
521 unpredictable unpredictable
522 action action
523 emotional emotional
524 genetics genetics
525 Matt Reeves mattreeves
526 relationships relationships
527 virus virus
528 Action action
529 comic comic
530 fantasy fantasy
531 sci-fi sci-fi
532 space space
533 superheroes superheroes
534 talking animals talkinganimals
535 Vin Diesel vindiesel
536 counterespionage counterespionage
537 slow slow
538 based on a book basedonabook
539 Law law
540 acting acting
541 action action
542 Brad Pitt bradpitt
543 David Ayer davidayer
544 drama drama
545 sentimental sentimental
546 to much war tomuchwar
547 war hero warhero
548 World War II worldwarii
549 artificial intelligence artificialintelligence
550 Drama drama
551 Manipulations manipulations
552 philosophical philosophical
553 sci-fi sci-fi
554 technology technology
555 thought provoking thoughtprovoking
556 mental illness mentalillness
557 surprising surprising
558 twisted end twistedend
559 code breaking codebreaking
560 Computers computers
561 cryptography cryptography
562 genius genius
563 history history
564 informatics informatics
565 mathematics mathematics
566 World War II worldwarii
567 love love
568 physics physics
569 science science
570 Stephen Hawking stephenhawking
571 True story truestory
572 image image
573 Olga Kurylenko olgakurylenko
574 story story
575 based on book basedonbook
576 Improvisation improvisation
577 mars mars
578 matt damon mattdamon
579 NASA nasa
580 Near Future nearfuture
581 predictible predictible
582 sci-fi sci-fi
583 scientific scientific
584 Space space
585 Survival Instinct survivalinstinct
586 boring boring
587 no action noaction
588 romance romance
589 war war
590 adoption adoption
591 Oscar Nominee: Best Picture oscarnominee:bestpicture
592 dreamlike dreamlike
593 Fantasy fantasy
594 imagination imagination
595 surreal surreal
596 surrealism surrealism
597 truth vs. fantasy truthvs.fantasy
598 gay gay
599 gay romance gayromance
600 disturbing disturbing
601 surrealism surrealism
602 action action
603 adventure adventure
604 fantasy fantasy
605 space adventure spaceadventure
606 overcoming obstacles overcomingobstacles
607 space adventure spaceadventure
608 teamwork teamwork
609 Coen Brothers coenbrothers
610 dark comedy darkcomedy
611 quirky quirky
612 witty witty
613 philosophy philosophy
614 surreal surreal
615 based on a true story basedonatruestory
616 smart smart
617 Tom Hanks tomhanks
618 4th wall 4thwall
619 crude language crudelanguage
620 parody parody
621 soulless soulless
622 cult film cultfilm
623 so bad it's good sobadit'sgood
624 unintentional comedy unintentionalcomedy
625 dark dark
626 missing children missingchildren
627 torture torture
628 Ewan McGregor ewanmcgregor
629 Jar Jar Binks jarjarbinks
630 robots robots
631 sci-fi sci-fi
632 Tom Cruise tomcruise
633 AI ai
634 artificial intelligence artificialintelligence
635 robots robots
636 karate karate
637 emotional emotional
638 inspiring inspiring
639 purpose in life purposeinlife
640 summer summer
641 ambush ambush
642 England england
643 Romans romans
644 violent violent
645 dark dark
646 television television
647 violent violent
648 Michael Moore michaelmoore
649 propaganda propaganda
650 metafiction metafiction
651 Christopher Nolan christophernolan
652 artificial intelligence artificialintelligence
653 turing test turingtest
654 impressive visuals impressivevisuals
655 magic magic
656 mystery mystery
657 tang dynasty tangdynasty
658 aliens aliens
659 Nicolas Cage nicolascage
660 sci-fi sci-fi
661 art art
662 manipulation manipulation
663 psychology psychology
664 free running freerunning
665 no story nostory
666 parkour parkour
667 funny funny
668 funny funny
669 funny funny
670 running running
671 abduction abduction
672 bound bound
673 canada canada
674 dark humor darkhumor
675 gagged gagged
676 kidnapping kidnapping
677 montreal montreal
678 nightmares nightmares
679 small cast smallcast
680 twist ending twistending
681 twisted twisted
682 bad ending badending
683 death death
684 Nudity (Topless - Brief) nudity(topless-brief)
685 Oscar (Best Actor) oscar(bestactor)
686 Oscar (Best Actress) oscar(bestactress)
687 Oscar (Best Supporting Actress) oscar(bestsupportingactress)
688 want to see again wanttoseeagain
689 Disturbing disturbing
690 Sick sick
691 animation animation
692 big budget bigbudget
693 Christian christian
694 Christmas christmas
695 family family
696 Tom Hanks tomhanks
697 starts well but fails you in the middle till the end startswellbutfailsyouinthemiddletilltheend
698 film noir filmnoir
699 low budget lowbudget
700 decline of civilization declineofcivilization
701 future future
702 prophetic prophetic
703 space space
704 sex with the enemy sexwiththeenemy
705 action action
706 assassin assassin
707 brutal violence brutalviolence
708 gun fu gunfu
709 murder murder
710 plot twist plottwist
711 stylized violence stylizedviolence
712 TOO much violence toomuchviolence
713 twist twist
714 Amazing! amazing!
715 anti-hero anti-hero
716 bad ending badending
717 better than expected betterthanexpected
718 Charlize Theron charlizetheron
719 innovative innovative
720 movie to see movietosee
721 plot twist plottwist
722 superhero superhero
723 Will Smith willsmith
724 enjoyable enjoyable
725 good laughs goodlaughs
726 twist twist
727 Unexpected Ending unexpectedending
728 chick flick chickflick
729 space program spaceprogram
730 stephan king stephanking
731 Special effects specialeffects
732 off-beat comedy off-beatcomedy
733 Disney disney
734 Special effects specialeffects
735 netflixq netflixq
736 atmospheric atmospheric
737 based on a book basedonabook
738 cult classic cultclassic
739 homoerotic subtext homoeroticsubtext
740 anti-romantic ending anti-romanticending
741 racist racist
742 atmospheric atmospheric
743 dreamlike dreamlike
744 great soundtrack greatsoundtrack
745 original original
746 philosophy philosophy
747 psychology psychology
748 quirky quirky
749 sci-fi sci-fi
750 stylized stylized
751 surreal surreal
752 thought-provoking thought-provoking
753 time travel timetravel
754 weird weird
755 Studio Ghibli studioghibli
756 black comedy blackcomedy
757 comedy comedy
758 friendship friendship

KeyboardInterrupt:

In [22]:
tags.head()

   movie_id             tag
0     60756           funny
1     60756  highlyquotable
2     60756     willferrell
3     89774     boxingstory
4     89774             mma

In [41]:
# Now we need to combine the tags into one column based on movie_id

# First create a new dataframe to store the tags and movie_ids
tags_combined = pd.DataFrame(columns=["movie_id", "tags"])
tags_combined.head()

Empty DataFrame
Columns: [movie_id, tags]
Index: []

In [42]:
# Iterrows for tags df
for index, row in tags.iterrows():
    # Check if movie_id already exists in tags_combined
    movie_exist = tags_combined.loc[tags_combined['movie_id']==row['movie_id'], :]
    #movie_exist.head()
    if movie_exist.empty:
        # Add new movie row
        new_row = {'movie_id': row['movie_id'], 'tags': row['tag']}
        #print (new_row)
        tags_combined = tags_combined.append(new_row, ignore_index=True)
    else:
        #print("Movie ID exists! Add to row")
        
        # Combine tags
        new_tags = movie_exist['tags'] + " " + row['tag']
        # Update row
        tags_combined.loc[tags_combined['movie_id']==row['movie_id'], 'tags'] = new_tags
        
tags_combined.head()

  movie_id                                               tags
0    60756  funny highlyquotable willferrell comedy funny ...
1    89774                           boxingstory mma tomhardy
2   106782  drugs leonardodicaprio martinscorsese stockmar...
3    48516  waytoolong leonardodicaprio suspense twistendi...
4      431                            alpacino gangster mafia

In [43]:
# Save combined_tags to CSV
tags_combined.to_csv("movies_csv/tags_combined.csv", index=False)

In [46]:
# Read genres from DB so we can merge genres with the tags

genre_query = f"select movie_id, genre from movies;"

genre = pd.read_sql(genre_query, connection)

genre.head()

   movie_id                                        genre
0         1  Adventure|Animation|Children|Comedy|Fantasy
1         2                   Adventure|Children|Fantasy
2         3                               Comedy|Romance
3         4                         Comedy|Drama|Romance
4         5                                       Comedy

In [47]:
# Iterrows to convert each genre to lowercase, swap | with a space
for index, row in genre.iterrows():
    genre_converted = row['genre'].lower().replace("|", " ")
    genre.iloc[index, 1] = genre_converted
    #print (index, row['genre'], genre_converted)
    
genre.head()

   movie_id                                        genre
0         1  adventure animation children comedy fantasy
1         2                   adventure children fantasy
2         3                               comedy romance
3         4                         comedy drama romance
4         5                                       comedy

In [58]:
# Merge genre and tags_converted on movie_id

combined_df = genre.merge(tags_combined, on="movie_id", how="outer").fillna("")
combined_df.head()

,movie_id,genre,tags
0,1,adventure animation children comedy fantasy,pixar pixar fun
1,2,adventure children fantasy,fantasy magicboardgame robinwilliams game
2,3,comedy romance,moldy old
3,4,comedy drama romance,
4,5,comedy,pregnancy remake

In [59]:
# Create new bag_of_words df that combines genre and tags

bag_of_words = pd.DataFrame(columns=["movie_id", "bag_of_words"])
bag_of_words.head()

Empty DataFrame
Columns: [movie_id, bag_of_words]
Index: []

In [60]:
# Iterrows for combined_df
for index, row in combined_df.iterrows():
    # Combine genre and tags
    bag = row['genre'] + " " + row['tags']
    
    new_row = {'movie_id': row['movie_id'], 'bag_of_words': bag}
    
    # Append row
    bag_of_words = bag_of_words.append(new_row, ignore_index=True)
        
bag_of_words.head()

  movie_id                                       bag_of_words
0        1  adventure animation children comedy fantasy pi...
1        2  adventure children fantasy fantasy magicboardg...
2        3                           comedy romance moldy old
3        4                              comedy drama romance
4        5                            comedy pregnancy remake

In [61]:
# Save bag_of_words to CSV
bag_of_words.to_csv("movies_csv/bag_of_words.csv", index=False)

In [62]:
# Read movie title from DB so we can separate title from year, then merge with bag_of_words

movie_query = f"select movie_id, title from movies;"

movies = pd.read_sql(movie_query, connection)

movies.head()

   movie_id                               title
0         1                    Toy Story (1995)
1         2                      Jumanji (1995)
2         3             Grumpier Old Men (1995)
3         4            Waiting to Exhale (1995)
4         5  Father of the Bride Part II (1995)

In [64]:
# Merge movies and bag_of_words on movie_id

movies_bag = movies.merge(bag_of_words, on="movie_id", how="outer").fillna("")
movies_bag.head()

,movie_id,title,bag_of_words
0,1,Toy Story (1995),adventure animation children comedy fantasy pi...
1,2,Jumanji (1995),adventure children fantasy fantasy magicboardg...
2,3,Grumpier Old Men (1995),comedy romance moldy old
3,4,Waiting to Exhale (1995),comedy drama romance
4,5,Father of the Bride Part II (1995),comedy pregnancy remake

In [65]:
# Save movies_bag to CSV
movies_bag.to_csv("movies_csv/movies_bag.csv", index=False)

## Split the title and year

In [85]:
# Create new movie_year df so we can split title and year

movie_year = pd.DataFrame(columns=["movie_id", "title", "year"])
movie_year.head()

Empty DataFrame
Columns: [movie_id, title, year]
Index: []

In [66]:
# Import regular expression because there are titles with (words) in the name and we need to make sure 
# we split it at (year)
import re

In [86]:
# Iterrows for movies
for index, row in movies.iterrows():
    # Combine genre and tags
    to_split = row['title']
    title_split = re.split(r'[ ](?=\([1-2][0-9][0-9][0-9])', to_split)
    title = title_split[0]
    if len(title_split)>1:
        year = title_split[1].replace("(", "").replace(")", "") # Then strip () from string
    else:
        print (f"No year for {row['title']}")
        year = ""
    
    new_row = {'movie_id': row['movie_id'], 'title': title, 'year': year}
    #print(new_row)
    
    # Append row
    movie_year = movie_year.append(new_row, ignore_index=True)
    
    #if index == 3:
    #    break
        
movie_year.head()

No year for Babylon 5
No year for Ready Player One
No year for Hyena Road
No year for The Adventures of Sherlock Holmes and Doctor Watson
No year for Nocturnal Animals
No year for Paterson
No year for Moonlight
No year for The OA
No year for Cosmos
No year for Maria Bamford: Old Baby
No year for Generation Iron 2
No year for Black Mirror

  movie_id                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

In [87]:
movie_year.tail()

     movie_id                               title  year
9737   193581  Black Butler: Book of the Atlantic  2017
9738   193583               No Game No Life: Zero  2017
9739   193585                               Flint  2017
9740   193587        Bungo Stray Dogs: Dead Apple  2018
9741   193609        Andrew Dice Clay: Dice Rules  1991

In [84]:
test_string = "Babylon 5"
title_split = re.split(r'[ ](?=\([1-2][0-9][0-9][0-9])', test_string)
title = title_split[0]
if len(title_split)>1:
    year = title_split[1]
else:
    year = 0
print(year)

0

In [89]:
# Merge movie_year with bag_of_words on movie_id

movies_bag = movie_year.merge(bag_of_words, on="movie_id", how="outer").fillna("")
movies_bag.head()

,movie_id,title,year,bag_of_words
0,1,Toy Story,1995,adventure animation children comedy fantasy pi...
1,2,Jumanji,1995,adventure children fantasy fantasy magicboardg...
2,3,Grumpier Old Men,1995,comedy romance moldy old
3,4,Waiting to Exhale,1995,comedy drama romance
4,5,Father of the Bride Part II,1995,comedy pregnancy remake

In [90]:
# Save movie_year to CSV
movies_bag.to_csv("movies_csv/movies_bag.csv", index=False)