In [7]:
# Loading dependencies (pip install rake_nltk)

import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
# Loading the bag of soup dataframe
main_df = pd.read_csv("big_movies_csv/the_main_df.csv")
main_df.sample(5)

,movie_id,title,year,bag_of_words,count
3120,139721,X+Y,2014.0,comedy drama,20
6413,47629,The Queen,2006.0,drama britishroyalfamily england helenmirren m...,195
3071,74944,Brooklyn's Finest,2010.0,crime drama thriller ethanhawke,62
7834,943,"Ghost and Mrs. Muir, The",1947.0,drama fantasy romance,37
6555,6765,Under the Tuscan Sun,2003.0,comedy drama romance strongwomen romance,72

In [9]:
# Turning the bag_of_words into a matrix

count = CountVectorizer()
count_matrix = count.fit_transform(main_df['bag_of_words'])
cosine_sim = cosine_similarity(count_matrix, count_matrix)
print(cosine_sim)

[[1.         0.         0.20412415 ... 0.         0.40824829 0.35355339]
 [0.         1.         0.         ... 0.70710678 0.40824829 0.        ]
 [0.20412415 0.         1.         ... 0.         0.33333333 0.        ]
 ...
 [0.         0.70710678 0.         ... 1.         0.57735027 0.        ]
 [0.40824829 0.40824829 0.33333333 ... 0.57735027 1.         0.28867513]
 [0.35355339 0.         0.         ... 0.         0.28867513 1.        ]]

In [10]:
# Turning title column into a series

indices = pd.Series(main_df['title'])

In [11]:
# Create the equation

def recommend(title, cosine_sim = cosine_sim):
    
    recommended_movies = []
    idx = indices[indices == title].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_10_indices = list(score_series.iloc[1:11].index)
    
    for i in top_10_indices:
        recommended_movies.append(list(main_df['title'])[i])
        
    return recommended_movies

In [11]:
recommend("Lion King, The")

['Dumbo',
 "Pete's Dragon",
 '101 Dalmatians (One Hundred and One Dalmatians)',
 'Fox and the Hound, The',
 'Aladdin',
 'Snow White and the Seven Dwarfs',
 'Alice in Wonderland',
 'Aristocats, The',
 'Beauty and the Beast',
 'Jungle Book, The']