In [2]:
# Loading dependencies (pip install rake_nltk)

import pandas as pd
import numpy as np
from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
# Loading the bag of soup dataframe
main_df = pd.read_csv("movies_csv/movies_bag.csv")
main_df.sample(5)

      movie_id                    title               bag_of_words
3377      4591   Erik the Viking (1989)  adventure comedy fantasy
7334     77800        Four Lions (2010)              comedy drama
1140      1490           B*A*P*S (1997)                    comedy
8897    134808       No Way Jose (2015)                    comedy
1831      2430  Mighty Joe Young (1949)  adventure children drama

In [25]:
# Turning the bag_of_words into a matrix

count = CountVectorizer()
count_matrix = count.fit_transform(main_df['bag_of_words'])
cosine_sim = cosine_similarity(count_matrix, count_matrix)
print(cosine_sim)

[[1.         0.42163702 0.15811388 ... 0.         0.2236068  0.31622777]
 [0.42163702 1.         0.         ... 0.         0.         0.        ]
 [0.15811388 0.         1.         ... 0.         0.         0.5       ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.2236068  0.         0.         ... 0.         1.         0.        ]
 [0.31622777 0.         0.5        ... 0.         0.         1.        ]]

In [13]:
# Turning title column into a series

indices = pd.Series(main_df['title'])

In [14]:
# Create the equation

def recommend(title, cosine_sim = cosine_sim):
    
    recommended_movies = []
    idx = indices[indices == title].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_10_indices = list(score_series.iloc[1:11].index)
    
    for i in top_10_indices:
        recommended_movies.append(list(main_df['title'])[i])
        
    return recommended_movies

In [30]:
recommend("Four Lions (2010)")

['Gung Ho (1986)',
 'Rushmore (1998)',
 'Greenfingers (2000)',
 'Carnage (2011)',
 'Jack (1996)',
 '50/50 (2011)',
 'War of the Roses, The (1989)',
 'Paper Birds (PÃ¡jaros de papel) (2010)',
 'Miracle on 34th Street (1947)',
 'Bernie (1996)']