In [2]:
# Loading dependencies (pip install rake_nltk)

import pandas as pd
import numpy as np
from rake_nltk import Rake
from sklearn.metrics.pairwise   import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
# Loading the bag of soup dataframe
main_df = pd.read_csv("movies_csv/movies_bag.csv")
main_df.head()

,movie_id,title,bag_of_words
0,1,Toy Story (1995),adventure animation children comedy fantasy pi...
1,2,Jumanji (1995),adventure children fantasy fantasy magicboardg...
2,3,Grumpier Old Men (1995),comedy romance moldy old
3,4,Waiting to Exhale (1995),comedy drama romance
4,5,Father of the Bride Part II (1995),comedy pregnancy remake

In [4]:
# Turning the bag_of_words into a matrix

count = CountVectorizer()
count_matrix = count.fit_transform(main_df['bag_of_words'])
cosine_sim = cosine_similarity(count_matrix, count_matrix)
print(cosine_sim)

[[1.         0.42163702 0.15811388 ... 0.         0.2236068  0.31622777]
 [0.42163702 1.         0.         ... 0.         0.         0.        ]
 [0.15811388 0.         1.         ... 0.         0.         0.5       ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.2236068  0.         0.         ... 0.         1.         0.        ]
 [0.31622777 0.         0.5        ... 0.         0.         1.        ]]

In [13]:
# Turning title column into a series

indices = pd.Series(main_df['title'])

In [14]:
# Create the equation

def recommend(title, cosine_sim = cosine_sim):
    
    recommended_movies = []
    idx = indices[indices == title].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_10_indices = list(score_series.iloc[1:11].index)
    
    for i in top_10_indices:
        recommended_movies.append(list(main_df['title'])[i])
        
    return recommended_movies

In [17]:
recommend('Jumanji (1995)')

['Percy Jackson: Sea of Monsters (2013)',
 'Indian in the Cupboard, The (1995)',
 'Escape to Witch Mountain (1975)',
 'NeverEnding Story II: The Next Chapter, The (1990)',
 'NeverEnding Story, The (1984)',
 'Alice Through the Looking Glass (2016)',
 'Golden Compass, The (2007)',
 'The Cave of the Golden Rose (1991)',
 'Santa Claus: The Movie (1985)',
 'Return to Oz (1985)']