In [8]:
# Loading dependencies (pip install rake_nltk)

import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
# Loading the bag of soup dataframe
main_df = pd.read_csv("big_movies_csv/the_main_df.csv")
main_df.sample(5)

,movie_id,title,year,bag_of_words
1235,4878,Donnie Darko,2001.0,drama mystery sci-fi thriller boring dark jake...
1372,5888,Brother (Brat),1997.0,crime drama russian crime violence
3258,135137,Pixels,2015.0,action comedy sci-fi peterdinklage adamsandler...
1640,8042,Mean Streets,1973.0,crime drama martinscorsese newyorkcity directi...
2051,49130,"Good Year, A",2006.0,comedy drama romance france marioncotillard li...

In [10]:
# Turning the bag_of_words into a matrix

count = CountVectorizer()
count_matrix = count.fit_transform(main_df['bag_of_words'])
cosine_sim = cosine_similarity(count_matrix, count_matrix)
print(cosine_sim)

[[1.         0.38924947 0.02707652 ... 0.09534626 0.         0.        ]
 [0.38924947 1.         0.         ... 0.08164966 0.         0.        ]
 [0.02707652 0.         1.         ... 0.05679618 0.         0.14980118]
 ...
 [0.09534626 0.08164966 0.05679618 ... 1.         0.         0.13187609]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.14980118 ... 0.13187609 0.         1.        ]]

In [11]:
# Turning title column into a series

indices = pd.Series(main_df['title'])

In [12]:
# Create the equation

def recommend(title, cosine_sim = cosine_sim):
    
    recommended_movies = []
    idx = indices[indices == title].index[0]
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    top_10_indices = list(score_series.iloc[1:11].index)
    
    for i in top_10_indices:
        recommended_movies.append(list(main_df['title'])[i])
        
    return recommended_movies

In [14]:
recommend("Donnie Darko")

['Brazil',
 'Solaris (Solyaris)',
 'Moon',
 'Sound of My Voice',
 'Coherence',
 'Twelve Monkeys (a.k.a. 12 Monkeys)',
 'Soylent Green',
 'Inception',
 'Andromeda Strain, The',
 'Jacket, The']