In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from config import login

In [3]:
# Establishing connection

db_url = 'postgresql://' + login + '@localhost:5432/movie_db'
engine = create_engine(db_url)
connection = engine.connect()

In [ ]:
query = f"select t.movie_id, m.title, t.tag, m.genre from tags t \
inner join movies m on m.movie_id = t.movie_id \
where m.movie_id = 49530;"

query_time = pd.read_sql(query, connection )

In [ ]:
# Example Query

pixar = f"select t.movie_id, t.tag, m.genre from tags t \
inner join movies m on m.movie_id = t.movie_id \
where m.movie_id = 1;"

pixar_ra = pd.read_sql(pixar, connection)

In [ ]:
tags = f"select movie_id, tag, count(tag) from tags \
group by movie_id, tag \
having count(tag) >= 5;"

tags = pd.read_sql(tags, connection)

In [8]:
length = f"select movie_id, count(tag) from tags \
group by movie_id \
having count(tag) >= 14;"

length_sql = pd.read_sql(length, connection)

In [ ]:
update = f"select movie_id, count(Distinct tag) from tags \
group by movie_id \
having count(Distinct tag) >= 6;"

update_sql = pd.read_sql(update, connection)